n8n-workflows/aika18-video-message.json
{
  "name": "AIKA18 LINEボット - 動画メッセージ処理",
  "nodes": [
    {
      "parameters": {},
      "id": "line-webhook",
      "name": "LINE Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "aika18-line-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-message-type",
              "leftValue": "={{ $json.events[0].type }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-message",
      "name": "メッセージイベントをフィルタ",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-video-type",
              "leftValue": "={{ $json.events[0].message.type }}",
              "rightValue": "video",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-video",
      "name": "動画メッセージをフィルタ",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "message",
        "operation": "getContent",
        "messageId": "={{ $json.events[0].message.id }}",
        "options": {}
      },
      "id": "get-video",
      "name": "動画ファイルを取得",
      "type": "n8n-nodes-base.line",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "lineApi": {
          "id": "1",
          "name": "LINE Messaging API"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.events[0].message.id }}.mp4",
        "binaryData": true,
        "options": {}
      },
      "id": "upload-gcs",
      "name": "Google Cloud Storageにアップロード",
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "2",
          "name": "Google Cloud Storage"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/analyze-video",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "gcsUri",
              "value": "={{ $json.selfLink }}"
            }
          ]
        },
        "options": {}
      },
      "id": "analyze-video",
      "name": "動画解析API呼び出し",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/aika18/video-analysis",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "videoAnalysisResult",
              "value": "={{ $json }}"
            },
            {
              "name": "userId",
              "value": "={{ $('LINE Webhook').item.json.events[0].source.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-aika18-video",
      "name": "AIKA18動画解析API呼び出し",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "message",
        "operation": "replyMessage",
        "replyToken": "={{ $('LINE Webhook').item.json.events[0].replyToken }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "id": "reply-line",
      "name": "LINEに返信",
      "type": "n8n-nodes-base.line",
      "typeVersion": 1,
      "position": [1650, 300],
      "credentials": {
        "lineApi": {
          "id": "1",
          "name": "LINE Messaging API"
        }
      }
    }
  ],
  "connections": {
    "LINE Webhook": {
      "main": [
        [
          {
            "node": "メッセージイベントをフィルタ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "メッセージイベントをフィルタ": {
      "main": [
        [
          {
            "node": "動画メッセージをフィルタ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "動画メッセージをフィルタ": {
      "main": [
        [
          {
            "node": "動画ファイルを取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "動画ファイルを取得": {
      "main": [
        [
          {
            "node": "Google Cloud Storageにアップロード",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Cloud Storageにアップロード": {
      "main": [
        [
          {
            "node": "動画解析API呼び出し",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "動画解析API呼び出し": {
      "main": [
        [
          {
            "node": "AIKA18動画解析API呼び出し",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AIKA18動画解析API呼び出し": {
      "main": [
        [
          {
            "node": "LINEに返信",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
