n8n-workflows/lesson-booking.json
{
  "name": "レッスン予約の自動処理",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook - 予約リクエスト",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "lesson-booking"
    },
    {
      "parameters": {
        "jsCode": "// 予約データの検証とフォーマット\nconst body = $input.first().json.body;\n\nif (!body.userId || !body.lessonDate || !body.lessonTime) {\n  throw new Error('必須項目が不足しています');\n}\n\nreturn [{\n  json: {\n    userId: body.userId,\n    userName: body.userName || '会員',\n    lessonDate: body.lessonDate,\n    lessonTime: body.lessonTime,\n    lessonType: body.lessonType || '通常レッスン',\n    timestamp: $now.toISOString()\n  }\n}];"
      },
      "id": "validate-booking",
      "name": "Code - 予約データ検証",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": "レッスン予約",
        "range": "A2:E1000",
        "options": {}
      },
      "id": "check-capacity",
      "name": "Google Sheets - 定員確認",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-capacity-condition",
              "leftValue": "={{ $('Google Sheets - 定員確認').all().filter(item => {\n  const date = item.json['レッスン日'] || item.json[0];\n  const time = item.json['レッスン時間'] || item.json[1];\n  return date === $json.lessonDate && time === $json.lessonTime;\n}).length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "smaller"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-if-available",
      "name": "IF - 定員チェック",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_CALENDAR_ID }}",
          "mode": "list",
          "cachedResultName": "GYM Calendar"
        },
        "start": "={{ $json.lessonDate + 'T' + $json.lessonTime }}",
        "end": "={{ $json.lessonDate + 'T' + (parseInt($json.lessonTime.split(':')[0]) + 1) + ':' + $json.lessonTime.split(':')[1] }}",
        "summary": "={{ $json.lessonType + ' - ' + $json.userName }}",
        "description": "={{ '会員ID: ' + $json.userId + '\\n予約日時: ' + $json.timestamp }}",
        "options": {}
      },
      "id": "create-calendar-event",
      "name": "Google Calendar - 予約登録",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": "レッスン予約",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "レッスン日": "={{ $json.lessonDate }}",
            "レッスン時間": "={{ $json.lessonTime }}",
            "会員ID": "={{ $json.userId }}",
            "氏名": "={{ $json.userName }}",
            "レッスン種別": "={{ $json.lessonType }}",
            "予約日時": "={{ $json.timestamp }}",
            "ステータス": "予約済み"
          }
        },
        "options": {}
      },
      "id": "record-booking",
      "name": "Google Sheets - 予約記録",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "sendMessage",
        "to": "={{ $json.userId }}",
        "messageType": "text",
        "text": "={{ '予約が確定しました！\\n\\nレッスン日: ' + $json.lessonDate + '\\nレッスン時間: ' + $json.lessonTime + '\\nレッスン種別: ' + $json.lessonType + '\\n\\n前日にもリマインドをお送りします。\\nキャンセルは24時間前までにお願いします。' }}"
      },
      "id": "send-confirmation",
      "name": "LINE Bot - 予約確認",
      "type": "n8n-nodes-base.line",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"申し訳ございません。この時間帯は満員です。\" } }}",
        "options": {}
      },
      "id": "respond-full",
      "name": "Respond - 満員",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"予約が完了しました\", \"bookingId\": $('Google Calendar - 予約登録').item.json.id } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond - 成功",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 200]
    }
  ],
  "connections": {
    "Webhook - 予約リクエスト": {
      "main": [
        [
          {
            "node": "Code - 予約データ検証",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - 予約データ検証": {
      "main": [
        [
          {
            "node": "Google Sheets - 定員確認",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - 定員確認": {
      "main": [
        [
          {
            "node": "IF - 定員チェック",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - 定員チェック": {
      "main": [
        [
          {
            "node": "Google Calendar - 予約登録",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - 満員",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - 予約登録": {
      "main": [
        [
          {
            "node": "Google Sheets - 予約記録",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - 予約記録": {
      "main": [
        [
          {
            "node": "LINE Bot - 予約確認",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE Bot - 予約確認": {
      "main": [
        [
          {
            "node": "Respond - 成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
